@model BolaoNet.MVC.ViewModels.Campeonatos.CampeonatoJogosListViewModel


@{
    string currentGrupo = "";
    string currentFase = "";
    bool isGrouped = false;

    bool usuarioResultado = false;

    BolaoNet.MVC.Controllers.AuthorizationController homeController =
        ViewContext.Controller as BolaoNet.MVC.Controllers.AuthorizationController;

    usuarioResultado = homeController.IsUserInRole(BolaoNet.MVC.Security.PermissionLevel.Administrador, BolaoNet.MVC.Security.PermissionLevel.GerenciadorResultados);
}

<table class="table table-hover">
    <tbody>
        
        @for (int c = 0; c < Model.Jogos.Count; c++)
        {
            @Html.HiddenFor(x => x.Jogos[c].NomeCampeonato)
            @Html.HiddenFor(x => x.Jogos[c].JogoId)

            isGrouped = false;
            if (string.Compare(Model.Jogos[c].NomeGrupo, currentGrupo, true) != 0)
            {
                if (!string.IsNullOrEmpty(Model.Jogos[c].NomeGrupo.Trim()))
                {
                    <tr>
                        <th scope="rowgroup" colspan="12">Grupo @(Model.Jogos[c].NomeGrupo)</th>
                    </tr>
                    isGrouped = true;
                }
                currentGrupo = Model.Jogos[c].NomeGrupo;
            }
            if (!isGrouped && string.IsNullOrEmpty(Model.Jogos[c].NomeGrupo.Trim()) &&
                string.Compare(Model.Jogos[c].NomeFase, currentFase, true) != 0)
            {                
                <tr>
                    <th scope="rowgroup" colspan="12">Fase @(Model.Jogos[c].NomeFase)</th>
                </tr>
                currentFase = Model.Jogos[c].NomeFase;
            }
            <tr
                @if (Model.Jogos[c].IsLocked)
                {
                    @Html.Raw("class=\"info\"");
                }
                else if (Model.Jogos[c].GolsTime1 == null || Model.Jogos[c].GolsTime2 == null)
                {
                     @Html.Raw("class=\"warning\"");
                }                
                else
                {
                    @Html.Raw("class=\"active\"");
                }    
            >

        <th scope="row">@(Model.Jogos[c].JogoId)</th>
        <td>@(Model.Jogos[c].DataJogo.ToString("dd/MM/yy HH:mm"))</td>
        <td>@(Model.Jogos[c].NomeEstadio)</td>
        <td class="text-right">@(Model.Jogos[c].NomeTime1 ?? Model.Jogos[c].DescricaoTime1)</td>
        <td><img src="@(Model.Jogos[c].ImageTime1)" /></td>

        @if (Model.Jogos[c].IsLocked)
        {
            if (Model.Jogos[c].GolsTime1 != null && Model.Jogos[c].IsValido == false)
            {
                <td>@(Model.Jogos[c].GolsTime1)</td>
            }
            else
            {
                <td>-</td>
            }
        }
        else
        {
            if(Model.Jogos[c].IsValido == false)
            {
                <td></td>   
            }
            else
            {            
                <td>@(Model.Jogos[c].GolsTime1)</td>
            }
        }
        @Html.HiddenFor(x => x.Jogos[c].GolsTime1)
        <td>x</td>
        @Html.HiddenFor(x => x.Jogos[c].GolsTime2)
        @if (Model.Jogos[c].IsLocked)
        {
            if (Model.Jogos[c].GolsTime2 != null && Model.Jogos[c].IsValido == false)
            {
                <td>@(Model.Jogos[c].GolsTime2)</td>
            }
            else
            {
                <td>-</td>
            }
        }
        else
        {
            if (Model.Jogos[c].IsValido == false)
            {
                <td></td>
            }
            else
            {
                <td>@(Model.Jogos[c].GolsTime2)</td>
            }
        }

        <td><img src="@(Model.Jogos[c].ImageTime2)" /></td>
        <td class="text-left">@(Model.Jogos[c].NomeTime2 ?? Model.Jogos[c].DescricaoTime2)</td>
        @*<td>
            @if (Model.Jogos[c].Automatico == 1)
            {
                <span class="glyphicon glyphicon-flash" />
            }
        </td>*@
        <td>@(Model.Jogos[c].DataValidacao)</td>
                <td>
                    @*<button type="submit" class="btn" name="ButtonSelected" value="@Model.Jogos[c].JogoId">
                        <i class="icon-user"></i>
                    </button>*@

                    @if (usuarioResultado == true)
                    { 

                        <a href="@Url.Action("Index", "JogoResultado", new { area = "Resultados", id = @Model.Jogos[c].JogoId })">
                            <span class="fa fa-check-square-o fa-lg"></span>
                        </a>
                    }
            </td>
        </tr>
        }      
    </tbody>
</table>