@model BolaoNet.MVC.ViewModels.Campeonatos.CampeonatoRecordsListViewModel
@{
    ViewBag.Title = Model.Title;
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        @for (int c=0; c < 3; c++)
        { 
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>
                            @if (c == 0) { @Html.Raw("Geral"); }
                            @if (c == 1) { @Html.Raw("Casa"); }
                            @if (c == 2) { @Html.Raw("Fora"); }                                
                        </h3>
                    </div>
                    <div class="ibox-content" style="display: block;">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">


                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            
                                            <td>P</td>
                                            <td></td>
                                            <td>Time</td>
                                            <td>V</td>
                                            <td>E</td>
                                            <td>D</td>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @for (int i = 0; i < Model.List[c].Count; i++)
                                        {
                                            <tr>
                                                <td>@Model.List[c][i].Posicao</td>
                                                <td><img class="img-time" src="/Content/img/database/times/@(Model.List[c][i].NomeTime).gif"></td>
                                                <td>@Model.List[c][i].NomeTime</td>
                                                <td>@Model.List[c][i].Vitoria</td>
                                                <td>@Model.List[c][i].Empate</td>
                                                <td>@Model.List[c][i].Derrota</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>                                                  
                        </div>
                    </div>
                </div>
            </div>
        }
        
    </div>
</div>
