@model BolaoNet.MVC.ViewModels.Admin.BolaoIniciarPararViewModel
@{
    ViewBag.Title = "Gerenciamento do Bolão";
}

@using (Html.BeginForm("Simular", "ApostasExtras", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Dados do Boão</h5>
                    </div>
                    <div class="ibox-content" style="display: block;">
                        <div class="text-center m-t-lg">

                            <div class="row">
                                <div class="form-group col-sm-4">
                                    @Html.LabelFor(a => a.IsIniciado)
                                    @if (Model.IsIniciado == true)
                                    {
                                        @Html.Raw("Iniciado");
                                    }
                                    else if (Model.IsIniciado == false)
                                    {
                                        @Html.Raw("Aguardando");
                                    }
                                    else
                                    {
                                        @Html.Raw("Aguardando Início");
                                    }
                                </div>
                                <div class="form-group col-sm-4">
                                    @Html.LabelFor(a => a.IniciadoBy)
                                    @Model.IniciadoBy
                                </div>
                                <div class="form-group col-sm-4">
                                    @Html.LabelFor(a => a.DataIniciado)
                                    @Model.DataIniciado
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 left">                                
                                    <a href="@Url.Action("Iniciar")" class="btn btn-success btn-sm center-block @if(Model.IsIniciado == true) { @Html.Raw("disabled");}"
                                       onclick="return confirm('Deseja iniciar o bolão, isto pode implicar em bloqueios de apostas dos usuários');  ">Iniciar</a>                                
                                </div>
                                <div class="col-sm-6 right">
                                    <a href="@Url.Action("Aguardar")" class="btn btn-success btn-sm center-block @if(Model.IsIniciado != true) { @Html.Raw("disabled");}"
                                       onclick="return confirm('Deseja voltar em status de aguardando? Isto pode implicar na habilitação de alteração de apostas');  ">Aguardar</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Geração de Dados</h5>
                    </div>
                    <div class="ibox-content" style="display: block;">
                        <div class="text-center m-t-lg">

                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-6 center">
                                        

                                        <a href="@Url.Action("GerarApostas")" class="btn btn-success btn-sm center-block"
                                           onclick="return confirm('Deseja gerar as apostas dos usuários?');">Gerar Apostas</a>


                                    </div>
                                    <div class="col-sm-6 center">
           
                                        <a href="@Url.Action("GerarFinal")" class="btn btn-success btn-sm center-block"
                                           onclick="return confirm('Deseja gerar as apostas finais do bolão?');">Gerar Final</a>

                                    </div>
                                </div>
                                

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Notificação</h5>
                    </div>
                    <div class="ibox-content" style="display: block;">
                        <div class="text-center m-t-lg">

                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-6 center">                                      
                                        <a href="@Url.Action("EnviarApostasRestantes")" class="btn btn-success btn-sm center-block"
                                           onclick="return confirm('Deseja enviar notificação a todos os membros do bolão que estão com apostas pendentes?');">Enviar Restantes</a>
                                    </div>
                                    <div class="col-sm-6 center">
                                        <a href="@Url.Action("EnviarNaoPago")" class="btn btn-success btn-sm center-block"
                                           onclick="return confirm('Deseja enviar notificação a todos os membros do que ainda não fizeram o pagamento?');">Enviar Não Pago</a>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <a href="@Url.Action("EnviarInicial")" class="btn btn-success btn-sm center-block"
                                       onclick="return confirm('Deseja enviar as apostas iniciais a todos os membros do bolão?');">Enviar Apostas Iniciais</a>
                                </div>
                                <div class="form-group col-sm-12">
                                    <a href="@Url.Action("EnviarFinal")" class="btn btn-success btn-sm center-block"
                                       onclick="return confirm('Deseja enviar as apostas finais a todos os membros do bolão?');">Enviar Apostas Iniciais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Status dos Membros</h5>
                    </div>
                    <div class="ibox-content" style="display: block;">
                        <div class="row">

                            @if(Model.StatusMembros != null && Model.StatusMembros.Count > 0)
                            { 
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td>@Html.DisplayNameFor(x => x.StatusMembros[0].UserName)</td>
                                        <td></td>
                                        <td>@Html.DisplayNameFor(x => x.StatusMembros[0].FullName)</td>
                                        <td>@Html.DisplayNameFor(x => x.StatusMembros[0].Email)</td>
                                        <td>@Html.DisplayNameFor(x => x.StatusMembros[0].Restantes)</td>
                                        <td>@Html.DisplayNameFor(x => x.StatusMembros[0].Pago)</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int c = 0; c < Model.StatusMembros.Count; c++)
                                    {
                                        <tr 
                                            @if (Model.StatusMembros[c].ApostasRestantes) 
                                            {
                                                Html.Raw(" class=\"warning\"");
                                            }
                                            else if (Model.StatusMembros[c].FaltaPagamento)
                                            {
                                                Html.Raw(" class=\"danger\"");
                                            }
                                            else 
                                            {
                                                
                                            }>
                                            <td>@Html.DisplayFor(x=>x.StatusMembros[c].UserName)</td>
                                            <td>

                                            </td>
                                            <td>@Model.StatusMembros[c].FullName</td>
                                            <td>@Model.StatusMembros[c].Email</td>
                                            <td>@Model.StatusMembros[c].Restantes</td>
                                            <td>@Model.StatusMembros[c].Pago</td>                                            
                                            <td>
                                                <a href="@Url.Action("DownloadApostas", "BolaoIniciarParar", new { username = @Model.StatusMembros[c].UserName })">
                                                    <span class="glyphicon glyphicon-download"></span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("RemoverMembro", new { Username = @Model.StatusMembros[c].UserName })" @*class="btn btn-success btn-sm center-block"*@
                                                   onclick="return confirm('Deseja remover o membro do Bolão?');"><span class="glyphicon glyphicon-remove"></span></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
@section scripts
{
    <script>

    //$(document).ready(function () {
    //    $('#Time1').change(function () {


    //        alert("value: " + $(this).val());
    //    });
    //})
    </script>
}