@using Res = BolaoNet.MVC.Resources.Views.Shared.LayoutBase
<!DOCTYPE html>
<html class="no-js">
<head>
    @*<meta charset="utf-8" />*@
    @*<meta charset="iso-8859-1" />*@
    <meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Res.SystemName | @ViewBag.Title</title>
    <script src="~/Content/js/modernizr-2.6.2.js"></script>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-datepicker.css" rel="stylesheet">
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/custom-site.css" rel="stylesheet">
    <link href="~/Content/css/open-sans.css" rel="stylesheet">

    @Scripts.Render("~/bundles/jquery")
    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="/Content/css/ie8-and-down.css" />
    <link rel="stylesheet" type="text/css" href="/Content/font-awesome/css/font-awesome-ie7.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/glyphicons-ie7.css">
    <![endif]-->
    @RenderSection("header", required: false)

    @if (!string.IsNullOrEmpty(System.Configuration.ConfigurationManager.AppSettings["GoogleAnalyticsId"]))
    {
        @Html.Partial("Utils/_GoogleAnalytics")
    }
</head>
<body class="skin-1">

    @RenderBody()


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
