@model BolaoNet.MVC.ViewModels.Bolao.ApostasExtrasViewModel
@{
    ViewBag.Title = "Apostas Extras";

    BolaoNet.MVC.Controllers.AuthorizationController homeController =
        ViewContext.Controller as BolaoNet.MVC.Controllers.AuthorizationController;
    string userNameLogged = homeController.UserLogged.UserName;
}

@using (Html.BeginForm("Simular", "ApostasExtras", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-7">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Validação</h5>
                    </div>
                    <div class="ibox-content" style="display: block;">
                        <div class="text-center m-t-lg">

                            <div class="row">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <td>Título</td>
                                            <td>Time</td>
                                            <td></td>
                                            <td>Pontos</td>
                                            <td>Válido</td>   
                                            <td>Data Validação</td>                                         
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int c = 0; c < Model.ApostasExtras.Count; c++)
                                        {           
                                            @Html.HiddenFor( x=> x.ApostasExtras[c].Posicao )
                                            @Html.HiddenFor(x => x.ApostasExtras[c].TotalPontos)
                                            @Html.HiddenFor( x=> x.ApostasExtras[c].Titulo)
                                            @Html.HiddenFor( x=> x.ApostasExtras[c].IsValido)
                                            <tr>
                                                <td>@Model.ApostasExtras[c].Titulo</td>
                                                <td>
                                                @if (@Model.ApostasExtras[c].NomeTimeValidado == null)
                                                {
                                                    @Html.Raw("-");
                                                }
                                                else
                                                {
                                                    @Html.Raw(Model.ApostasExtras[c].NomeTimeValidado);                                                    
                                                }
                                                </td>
                                                <td>
                                                    @if(!string.IsNullOrEmpty (Model.ApostasExtras[c].NomeTimeValidado))
                                                    {
                                                        <img src="/Content/img/database/times/@(Model.ApostasExtras[c].NomeTimeValidado).gif" />
                                                    }
                                                </td>
                                                <td>@Model.ApostasExtras[c].TotalPontos</td>
                                                <td>
                                                    @if (Model.ApostasExtras[c].IsValido == true)
                                                    { 
                                                        @Html.Raw("<span class=\"glyphicon glyphicon-ok\">&nbsp;</span>");
                                                    }
                                                    else
                                                    {
                                                        @Html.Raw("<span class=\"glyphicon glyphicon-remove\">&nbsp;</span>");
                                                    }
                                                </td>
                                                <td>@Model.ApostasExtras[c].DataValidacao</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                                @*<div class="col-sm-12">
                                    <button class="btn btn-default" type="submit">Simular</button>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Simulação</h5>
                    </div>
                    <div class="ibox-content" style="display: block;">
                        <div class="row">
                            <table class="table table-hover">
                                @*<thead>
                                    <tr>
                                        <td>Título</td>
                                        <td>Time</td>
                                        <td></td>
                                    </tr>
                                </thead>*@
                                <tbody>
                                    @for (int c = 0; c < Model.Simulacao.Count; c++)
                                    {
                                        @Html.HiddenFor( x=> x.Simulacao[c].Posicao )
                                        @Html.HiddenFor(x => x.Simulacao[c].TotalPontos)
                                        @Html.HiddenFor(x => x.Simulacao[c].Titulo)
                                        <tr>
                                            <td>@Model.Simulacao[c].Titulo</td>
                                            <td>
                                                @if (Model.ApostasExtras[c].IsValido == true)
                                                {
                                                    @Html.DisplayTextFor( x => x.ApostasExtras[c].NomeTimeValidado )
                                                    @Html.HiddenFor( x => x.ApostasExtras[c].NomeTimeValidado )
                                                }
                                                else
                                                { 

                                                    @Html.DropDownListFor(x => x.Simulacao[c].NomeTimeValidado,
                                                        new SelectList(ViewBag.Times, Model.Simulacao[c].NomeTimeValidado), "-- Selecione --",
                                                        new { @class = "form-control input-sm", @id = "Time" + (c + 1).ToString(), @name = "Time" + (c + 1).ToString() })
                                                }
                                            </td>
                                            <td>
                                                @if (Model.ApostasExtras[c].IsValido == true)
                                                {
                                                     <img src="~/Content/img/database/times/@(Model.ApostasExtras[c].NomeTimeValidado).gif"
                                                             id="@("Image" + @Model.ApostasExtras[c].Posicao)" />
                                                }
                                                else
                                                { 
                                                    if (Model.Simulacao[c].NomeTimeValidado == null)
                                                    {
                                                        <img src="" id="@("Image" + @Model.Simulacao[c].Posicao)"/>
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Content/img/database/times/@(Model.Simulacao[c].NomeTimeValidado).gif"
                                                             id="@("Image" + @Model.Simulacao[c].Posicao)" />
                                                    }
                                                }
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                        <div class="row">
                            <div class="col-sm-offset-5 col-sm-2 text-center">
                                <input type="submit" onclick="javascript:showWait();"  class="btn btn-primary btn-md center-block " value="Simular" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Apostas Extras</h5>
                    </div>
                    <div class="ibox-content" style="display: block;">
                        <div class="row">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td>Posição</td>
                                        <td></td>
                                        <td>GPT</td>
                                        <td></td>
                                        <td>Usuário</td>
                                        <td>PT</td>

                                        @for (int c = 0; c < Model.ApostasExtras.Count; c++ )
                                        {
                                            <td colspan="2" class="hidden-xs">@Model.ApostasExtras[c].Titulo</td>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int c = 0; c < Model.ApostasUsuarios.Count; c++)
                                    {
                                        <tr
                                            @if (string.Compare(userNameLogged, Model.ApostasUsuarios[c].UserName, true) == 0)
                                                {
                                                    @Html.Raw("class=\"info\"");
                                                } 
                                            
                                            >
                                            <td>@Model.ApostasUsuarios[c].Posicao</td>

                                            <td>
                                                @if (Model.ApostasUsuarios[c].LastPosicao != 0)
                                                {
                                                    if (Model.ApostasUsuarios[c].Posicao == Model.ApostasUsuarios[c].LastPosicao)
                                                    {
                                                        @Html.Raw("<span class=\"glyphicon glyphicon-stop black\">&nbsp;&nbsp;</span>");
                                                    }
                                                    else if (Model.ApostasUsuarios[c].Posicao < Model.ApostasUsuarios[c].LastPosicao)
                                                    {
                                                        @Html.Raw("<span class=\"glyphicon glyphicon-arrow-up blue\">&nbsp;" + (Model.ApostasUsuarios[c].LastPosicao - Model.ApostasUsuarios[c].Posicao) + "</span>");

                                                    }
                                                    else
                                                    {
                                                        @*<span class="glyphicon glyphicon-arrow-down ">*@
                                                        @Html.Raw("<span style=\"color:red\" class=\"glyphicon glyphicon-arrow-down \">&nbsp;" + (Model.ApostasUsuarios[c].Posicao - Model.ApostasUsuarios[c].LastPosicao) + "</span>");
                                                    }
                                                }
                                                    
                                            </td>          

                                            <td>@Model.ApostasUsuarios[c].TotalPontosClassificacao</td>
                                            <td>
                                                <img class="img-username" src="/Content/img/database/profiles/@(Model.ApostasUsuarios[c].UserName).gif?time=@(DateTime.Now)" />
                                            </td>
                                            <td>@Model.ApostasUsuarios[c].UserName</td>
                                            <td>
                                                @if(Model.ApostasUsuarios[c].Pontos != 0 && Model.ApostasUsuarios[c].Pontos != null)
                                                { 
                                                    @*<i class="fa fa-plus-circle" 
                                                        style="color:@BolaoNet.MVC.Helpers.ColorPontosHelper.GetColorPontos(10)" 
                                                        aria-hidden="true"></i>*@
                                                    
                                                    <strong style="color:@BolaoNet.MVC.Helpers.ColorPontosHelper.GetColorPontos(10)">
                                                        @(Model.ApostasUsuarios[c].Pontos)
                                                    </strong>
                                                }
                                                else
                                                {
                                                    <strong>@Model.ApostasUsuarios[c].Pontos</strong>
                                                }
                                            </td>
                                            @*<td>@Model.ApostasUsuarios[c].Pontos</td>*@
                                            
                                            @for (int i = 0; i < Model.ApostasUsuarios[c].Apostas.Count; i++)
                                            {
                                                
                                                @*<td>@Model.ApostasUsuarios[c].Apostas[i].Pontos</td>*@
                                                <td class="hidden-xs">
                                                    @if(Model.ApostasUsuarios[c].Apostas[i].Pontos != 0 && Model.ApostasUsuarios[c].Apostas[i].Pontos != null)
                                                    { 
                                                        <i class="fa fa-plus-circle" 
                                                            style="color:@BolaoNet.MVC.Helpers.ColorPontosHelper.GetColorPontos(10)" 
                                                            aria-hidden="true"></i>
                                                    
                                                        <strong style="color:@BolaoNet.MVC.Helpers.ColorPontosHelper.GetColorPontos(10)">
                                                            @(Model.ApostasUsuarios[c].Apostas[i].Pontos)
                                                        </strong>
                                                    }
                                                    else
                                                    {
                                                        @Model.ApostasUsuarios[c].Apostas[i].Pontos
                                                    }
                                                </td>
                                                <td class="hidden-xs"><img src="@Model.ApostasUsuarios[c].Apostas[i].ImageTime" title="@Model.ApostasUsuarios[c].Apostas[i].NomeTime" /></td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
}


@section scripts
{
    <script>

        $(document).ready(function () {
            $('#Time1').change(function () {
                var img = "/Content/img/database/times/" + $(this).val() + ".gif";
                $('#Image1').attr('src', img);
            });
            $('#Time2').change(function () {

                var img = "/Content/img/database/times/" + $(this).val() + ".gif";
                $('#Image2').attr('src', img);
            });
            $('#Time3').change(function () {

                var img = "/Content/img/database/times/" + $(this).val() + ".gif";
                $('#Image3').attr('src', img);
            });
            $('#Time4').change(function () {

                var img = "/Content/img/database/times/" + $(this).val() + ".gif";
                $('#Image4').attr('src', img);
            });
            $('#Time5').change(function () {

                var img = "/Content/img/database/times/" + $(this).val() + ".gif";
                $('#Image5').attr('src', img);
            });
        })
    </script>


}