@model BolaoNet.MVC.ViewModels.Bolao.ApostasExtrasViewModel
@{
    ViewBag.Title = "Apostas Extras";

    BolaoNet.MVC.Controllers.AuthorizationController homeController =
        ViewContext.Controller as BolaoNet.MVC.Controllers.AuthorizationController;
    string userNameLogged = homeController.UserLogged.UserName;
}

@using (Html.BeginForm("Simular", "ApostasExtras", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-7">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Validação</h5>
                    </div>
                    <div class="ibox-content" style="display: block;">
                        <div class="text-center m-t-lg">

                            <div class="row">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <td>Título</td>
                                            <td>Time</td>
                                            <td></td>
                                            <td>Pontos</td>
                                            <td>Válido</td>   
                                            <td>Data Validação</td>                                         
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int c = 0; c < Model.ApostasExtras.Count; c++)
                                        {                                            
                                            <tr>
                                                <td>@Model.ApostasExtras[c].Titulo</td>
                                                <td>
                                                @if (@Model.ApostasExtras[c].NomeTimeValidado == null)
                                                {
                                                    @Html.Raw("-");
                                                }
                                                else
                                                {
                                                    @Html.Raw(Model.ApostasExtras[c].NomeTimeValidado);
                                                }
                                                </td>
                                                <td>
                                                    @if(!string.IsNullOrEmpty (Model.ApostasExtras[c].NomeTimeValidado))
                                                    {
                                                        <img src="/Content/img/database/times/@(Model.ApostasExtras[c].NomeTimeValidado).gif" />
                                                    }
                                                </td>
                                                <td>@Model.ApostasExtras[c].TotalPontos</td>
                                                <td>
                                                    @if (Model.ApostasExtras[c].IsValido == true)
                                                    { 
                                                        @Html.Raw("<span class=\"glyphicon glyphicon-ok\">&nbsp;</span>");
                                                    }
                                                    else
                                                    {
                                                        @Html.Raw("<span class=\"glyphicon glyphicon-remove\">&nbsp;</span>");
                                                    }
                                                </td>
                                                <td>@Model.ApostasExtras[c].DataValidacao</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                                @*<div class="col-sm-12">
                                    <button class="btn btn-default" type="submit">Simular</button>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Simulação</h5>
                    </div>
                    <div class="ibox-content" style="display: block;">
                        <div class="row">
                            <table class="table table-hover">
                                @*<thead>
                                    <tr>
                                        <td>Título</td>
                                        <td>Time</td>
                                        <td></td>
                                    </tr>
                                </thead>*@
                                <tbody>
                                    @for (int c = 0; c < Model.ApostasExtras.Count; c++)
                                    {
                                        <tr>
                                            <td>@Model.ApostasExtras[c].Titulo</td>
                                            <td>
                                                @Html.DropDownListFor(x => x.ApostasExtras[c].NomeTimeValidado, 
                                                new SelectList(ViewBag.Times, Model.ApostasExtras[c].NomeTimeValidado),
                                                new { @class = "form-control input-sm", @id = "Time" + (c + 1).ToString(), @name = "Time" + (c + 1).ToString() })
                                            </td>
                                            <td>
                                                @if (Model.ApostasExtras[c].NomeTimeValidado == null)
                                                {
                                                    <img src="" />
                                                }
                                                else
                                                {
                                                    <img src="~/Content/img/database/times/@(Model.ApostasExtras[c].NomeTimeValidado).gif"
                                                         id="@("Image" + @Model.ApostasExtras[c].Posicao)" />
                                                }
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                        <div class="row">
                            <div class="col-sm-offset-5 col-sm-2 text-center">
                                <input type="submit" class="btn btn-primary btn-md center-block " value="Simular" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Apostas Extras</h5>
                    </div>
                    <div class="ibox-content" style="display: block;">
                        <div class="row">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td>Posição</td>
                                        <td>GPT</td>
                                        <td></td>
                                        <td>Usuário</td>
                                        <td>PT</td>

                                        @for (int c = 0; c < Model.ApostasExtras.Count; c++ )
                                        {
                                            <td colspan="2">@Model.ApostasExtras[c].Titulo</td>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int c = 0; c < Model.ApostasUsuarios.Count; c++)
                                    {
                                        <tr
                                            @if (string.Compare(userNameLogged, Model.ApostasUsuarios[c].UserName, true) == 0)
                                                {
                                                    @Html.Raw("class=\"info\"");
                                                } 
                                            
                                            >
                                            <td>@Model.ApostasUsuarios[c].Posicao</td>
                                            <td>@Model.ApostasUsuarios[c].TotalPontosClassificacao</td>
                                            <td>
                                                <img class="img-username" src="/Content/img/database/profiles/@(Model.ApostasUsuarios[c].UserName).gif" />
                                            </td>
                                            <td>@Model.ApostasUsuarios[c].UserName</td>
                                            <td>@Model.ApostasUsuarios[c].Pontos</td>
                                            
                                            @for (int i = 0; i < Model.ApostasUsuarios[c].Apostas.Count; i++)
                                            {
                                                @*<td>@Model.ApostasUsuarios[c].Apostas[i].NomeTime</td>*@
                                                <td>@Model.ApostasUsuarios[c].Apostas[i].TotalPontos</td>
                                                <td><img src="@Model.ApostasUsuarios[c].Apostas[i].ImageTime" /></td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
}


@section scripts
{
    <script>

        $(document).ready(function () {
            $('#Time1').change(function () {
                var img = "/Content/img/database/times/" + $(this).val() + ".gif";
                $('#Image1').attr('src', img);
            });
            $('#Time2').change(function () {

                var img = "/Content/img/database/times/" + $(this).val() + ".gif";
                $('#Image2').attr('src', img);
            });
            $('#Time3').change(function () {

                var img = "/Content/img/database/times/" + $(this).val() + ".gif";
                $('#Image3').attr('src', img);
            });
            $('#Time4').change(function () {

                var img = "/Content/img/database/times/" + $(this).val() + ".gif";
                $('#Image4').attr('src', img);
            });
            $('#Time5').change(function () {

                var img = "/Content/img/database/times/" + $(this).val() + ".gif";
                $('#Image5').attr('src', img);
            });
        })
    </script>


}