@model IList<BolaoNet.MVC.ViewModels.Users.PaginaPrincipal.PaginaPrincipalProximaApostaViewModel>

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h3>Próximos Jogos</h3>
    </div>
    <div class="ibox-content" style="display: block;">
        <div class="row">
            @if (Model.Count > 0)
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>@Html.DisplayNameFor(x => x[0].JogoId)</td>
                            <td>@Html.DisplayNameFor(x => x[0].DataJogo)</td>
                            <td>@Html.DisplayNameFor(x => x[0].NomeEstadio)</td>
                            <td class="text-right">@Html.DisplayNameFor(x => x[0].NomeTime1)</td>
                            <td>@Html.DisplayNameFor(x => x[0].ApostaTime1)</td>
                            <td></td>
                            <td>@Html.DisplayNameFor(x => x[0].ApostaTime2)</td>
                            <td class="text-left">@Html.DisplayNameFor(x => x[0].NomeTime2)</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>

                        @for (int c = 0; c < Model.Count; c++)
                        {
                            <tr>
                                <td>@Model[c].JogoId</td>
                                <td>@Model[c].DataJogo.ToString("dd/MM/yy HH:mm")</td>
                                <td>@Model[c].NomeEstadio</td>
                                <td class="text-right">@Model[c].NomeTime1 <img src=@Model[c].ImageTime1></td>
                                <td>@Model[c].ApostaTime1</td>
                                <td>x</td>
                                <td>@Model[c].ApostaTime2</td>
                                <td class="text-left"><img src=@Model[c].ImageTime2> @Model[c].NomeTime2 </td>
                                <td>
                                    <a href="@Url.Action("Index", "ApostasJogo", new { area= "Boloes", id = @Model[c].JogoId})">
                                        |
                                    <span class="glyphicon glyphicon-list-alt"></span>
                                </a>
                            </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>