@model IList<BolaoNet.MVC.ViewModels.Apostas.ApostaExtraViewModel>
@{
    ViewBag.Title = "Apostas Extras";
}

@using (Html.BeginForm("Salvar", "ApostasExtras", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content" style="display: block;">
                        <div class="text-center m-t-lg">

                            <div class="row">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <td>@Html.DisplayNameFor(x => x[0].Posicao)</td>
                                            <td>@Html.DisplayNameFor(x => x[0].Titulo)</td>
                                            <td>@Html.DisplayNameFor(x => x[0].NomeTime)</td>
                                            <td></td>
                                            <td class="hidden-xs">@Html.DisplayNameFor(x => x[0].DataAposta)</td>
                                            <td>@Html.DisplayNameFor(x => x[0].TotalPontos)</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int c = 0; c < Model.Count; c++)
                                        {
                                            @Html.HiddenFor(x => x[c].UserName)
                                            @Html.HiddenFor(x => x[c].SalvarNomeTime)
                                            @Html.HiddenFor(x => x[c].NomeBolao)
                                            @Html.HiddenFor(x => x[c].Posicao)

                                            <tr>
                                                <td>@Model[c].Posicao</td>
                                                <td>@Model[c].Titulo</td>
                                                <td>@Html.DropDownListFor(x => x[c].NomeTime, new SelectList(ViewBag.Times, Model[c].NomeTime), "-- Escolha --", 
                                                    new { @class = "form-control input-sm", @id="Time" + (c+1).ToString(), @name="Time" + (c+1).ToString() })</td>
                                                <td>
                                                    @if (Model[c].SalvarNomeTime == null)
                                                    {
                                                        <img class="img-time" src="" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-time" src="~/Content/img/database/times/@(Model[c].SalvarNomeTime).gif"
                                                             id="@("Image" + @Model[c].Posicao)" />
                                                    }
                                                </td>
                                                <td class="hidden-xs">@Model[c].DataAposta</td>
                                                <td>@Model[c].TotalPontos</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-sm-offset-5 col-sm-2 text-center">
                                    <input type="submit" onclick="javascript:showWait();" class="btn btn-primary btn-lg center-block " value="Salvar" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts
{
    <script>

    $(document).ready(function () {
        $('#Time1').change(function () {

            var img = "/Content/img/database/times/" + $(this).val() + ".gif";            
            $('#Image1').attr('src', img);
        });
        $('#Time2').change(function () {

            var img = "/Content/img/database/times/" + $(this).val() + ".gif";
            $('#Image2').attr('src', img);
        });
        $('#Time3').change(function () {

            var img = "/Content/img/database/times/" + $(this).val() + ".gif";
            $('#Image3').attr('src', img);
        });
        $('#Time4').change(function () {

            var img = "/Content/img/database/times/" + $(this).val() + ".gif";
            $('#Image4').attr('src', img);
        });
        $('#Time5').change(function () {

            var img = "/Content/img/database/times/" + $(this).val() + ".gif";
            $('#Image5').attr('src', img);
        });
    })
    </script>
}