@model IList<BolaoNet.MVC.ViewModels.Resultados.ApostaExtraViewModel>
@{
    ViewBag.Title = "Resultado das Apostas Extras";
}

@using (Html.BeginForm("Salvar", "ApostasExtrasResultado", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content" style="display: block;">
                        <div class="text-center m-t-lg">

                            <div class="row">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <td>Título</td>
                                            <td>Time</td>
                                            <td></td>
                                            <td>Pontos</td>
                                            <td>Válido</td>
                                            <td>Por</td>
                                            <td>Data Validação</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int c = 0; c < Model.Count; c++)
                                        {
                                            @Html.HiddenFor(x => x[c].SalvarNomeTime)
                                            @Html.HiddenFor(x => x[c].NomeBolao)
                                            @Html.HiddenFor(x => x[c].Posicao)

                                            <tr>
                                                <td>@Model[c].Titulo</td>
                                                <td>@Html.DropDownListFor(x => x[c].NomeTimeValidado, new SelectList(ViewBag.Times, Model[c].NomeTimeValidado), "-- Selecione --",
                                                new { @class = "form-control input-sm", @id = "Time" + (c+1).ToString(), @name = "Time" + (c+1).ToString() })</td>
                                                <td>
                                                    @if(Model[c].SalvarNomeTime == null)
                                                    {
                                                        <img src="" />
                                                    }
                                                    else
                                                    { 
                                                    <img src="~/Content/img/database/times/@(Model[c].SalvarNomeTime).gif"
                                                         id="@("Image" + @Model[c].Posicao)" />
                                                    }
                                                </td>
                                                <td>@Model[c].TotalPontos</td>
                                                <td>
                                                    @if (Model[c].IsValido == true)
                                                    {
                                                        @Html.Raw("<span class=\"glyphicon glyphicon-ok\">&nbsp;</span>");
                                                    }
                                                    else
                                                    {
                                                        @Html.Raw("<span class=\"glyphicon glyphicon-remove\">&nbsp;</span>");
                                                    }    
                                                </td>
                                                <td>@Model[c].ValidadoBy</td>
                                                <td>@Model[c].DataValidacao</td>
                                                <td></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-sm-offset-5 col-sm-2 text-center">
                                    <input type="submit" onclick="javascript:showWait();" class="btn btn-primary btn-lg center-block " value="Salvar" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts
{
    <script>

        $(document).ready(function () {
            $('#Time1').change(function () {

                var img = "/Content/img/database/times/" + $(this).val() + ".gif";
                $('#Image1').attr('src', img);
            });
            $('#Time2').change(function () {

                var img = "/Content/img/database/times/" + $(this).val() + ".gif";
                $('#Image2').attr('src', img);
            });
            $('#Time3').change(function () {

                var img = "/Content/img/database/times/" + $(this).val() + ".gif";
                $('#Image3').attr('src', img);
            });
            $('#Time4').change(function () {

                var img = "/Content/img/database/times/" + $(this).val() + ".gif";
                $('#Image4').attr('src', img);
            });
            $('#Time5').change(function () {

                var img = "/Content/img/database/times/" + $(this).val() + ".gif";
                $('#Image5').attr('src', img);
            });
        })
    </script>
}