@model IList<BolaoNet.MVC.ViewModels.Mensagens.MensagemViewModel>
@{
    ViewBag.Title = "Mensagens";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Caixa de Mensagens</h3>
                </div>
                <div class="ibox-content" style="display: block;">

                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group">

                                <a href="@Url.Action("Create")" class="btn btn-default btn-sm center-block">Criar Mensagem</a>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        @if (Model.Count > 0)
                        {
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        
                                        <td>@Html.DisplayNameFor(model => model[0].CreationDate)</td>
                                        <td></td> 
                                        <td>@Html.DisplayNameFor(model => model[0].FromUser)</td>
                                        <td>@Html.DisplayNameFor(model => model[0].Message)</td>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int c = 0; c < Model.Count; c++)
                                    {
                                        @Html.HiddenFor(model => model[c].NomeBolao)
                                        @Html.HiddenFor(model => model[c].MessageID)

                                        <tr>
                                            <td>@Html.DisplayFor(model => model[c].CreationDate)</td>

                                            <td>
                                                <img class="img-username" src="/Content/img/database/profiles/@(Model[c].FromUser).gif" />
                                            </td> 

                                            <td>@Html.DisplayFor(model => model[c].FromUser)</td>
                                            <td>@Html.DisplayFor(model => model[c].Message)</td>
                                            
                                            <td>
                                                 
                                                <a href="@Url.Action("Delete", "Gerenciamento", new
                                                {
                                                    nomeBolao = Model[c].NomeBolao,
                                                    messageId = Model[c].MessageID
                                                })" onclick="return confirm('Deseja remover a mensagem selecionada?');">
                                                    <span class="glyphicon glyphicon-remove fa-lg"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <h3>Não existem mensagens na caixa de entrada.</h3>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


 
