@using Res = BolaoNet.MVC.Resources.Views.Shared.Fragments.Menu
@{
    BolaoNet.MVC.Controllers.AuthorizationController homeController = 
        ViewContext.Controller as BolaoNet.MVC.Controllers.AuthorizationController;
    string controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    string controllerAction = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
    string controllerArea = null;
    if (HttpContext.Current.Request.RequestContext.RouteData.DataTokens["area"] != null)
    { 
        controllerArea = HttpContext.Current.Request.RequestContext.RouteData.DataTokens["area"].ToString ();
    }
}

<li>
    <a href="/Home/index"><i class="fa fa-th-large"></i> <span class="nav-label">Página inicial</span></a>
</li>
<li @if((string.Compare(controllerArea, "Apostas", true) == 0) ||
        (string.Compare(controllerArea, "Users", true) == 0 && string.Compare(controllerName, "UserBoloes", true) == 0)) 
    {  @Html.Raw("class=\"active\"") } >
    <a href="/GrupoPonto/Grupos"><i class="fa fa-edit"></i> <span class="nav-label">Apostas</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        @if (!string.IsNullOrEmpty (homeController.SelectedNomeBolao))
        {
            <li @if (string.Compare(controllerAction, "Jogos" , true) == 0 && 
                    string.Compare(controllerName, "ApostasJogos", true) == 0) { @Html.Raw("class=\"active\"") }>
                <a href="/Apostas/ApostasJogos/Jogos">Inclusão de Apostas</a>
            </li>
            <li @if (string.Compare(controllerName, "ApostasAutomaticas", true) == 0) { @Html.Raw("class=\"active\"")  }>
                <a href="/Apostas/ApostasAutomaticas/Index">Apostas Automáticas</a>
            </li>
            <li @if (string.Compare(controllerName, "ApostasExtras", true) == 0) { @Html.Raw("class=\"active\"")   }>
                <a href="/Apostas/ApostasExtras/Index">Apostas Extras</a>
            </li>
        }
        else
        {
            <li>
                <a href="/Users/UserBoloes/Index">Selecionar Bolão</a>
            </li>
        }

    </ul>
</li>
<li @if (string.Compare(controllerArea, "Boloes", true) == 0 ) {  @Html.Raw("class=\"active\"")  }>
    <a href="/GrupoPonto/Grupos"><i class="fa fa-life-ring"></i> <span class="nav-label">Bolão</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li @if (string.Compare(controllerAction, "Index", true) == 0 && 
                string.Compare(controllerName, "BolaoClassificacao", true) == 0 && 
                string.Compare(controllerArea, "Boloes", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Boloes/BolaoClassificacao/Index">Classificação</a>
        </li>
        <li @if (string.Compare(controllerAction, "Index", true) == 0 &&
                string.Compare(controllerName, "ApostasUsuarios", true) == 0 && 
                string.Compare(controllerArea, "Boloes", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Boloes/ApostasUsuarios/Index">Apostas dos Usuários</a>
        </li>
        <li @if (string.Compare(controllerAction, "Index", true) == 0 &&
                string.Compare(controllerName, "ApostasExtras", true) == 0 && 
                string.Compare(controllerArea, "Boloes", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Boloes/ApostasExtras/Index">Apostas Extras</a>
        </li>
        <li @if (string.Compare(controllerAction, "Index", true) == 0 &&
                string.Compare(controllerName, "ClassificacaoApostas", true) == 0 && 
                string.Compare(controllerArea, "Boloes", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Boloes/ClassificacaoApostas/Index">Classificação por Apostas</a>
        </li>
        <li @if (string.Compare(controllerAction, "Index", true) == 0 &&
                string.Compare(controllerName, "ResultadosDificeis", true) == 0 && 
                string.Compare(controllerArea, "Boloes", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Boloes/ResultadosDificeis/Index">Acertos de Resultados difíceis</a>
        </li>
        <li @if (string.Compare(controllerAction, "Index", true) == 0 &&
                string.Compare(controllerName, "SemAcertos", true) == 0 && 
                string.Compare(controllerArea, "Boloes", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Boloes/SemAcertos/Index">Sem acertos</a>
        </li>
        <li @if (string.Compare(controllerAction, "Index", true) == 0 &&
                string.Compare(controllerName, "HistoricoPontos", true) == 0 && 
                string.Compare(controllerArea, "Boloes", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Boloes/HistoricoPontos/Index">Histórico de pontos</a>
        </li>
        <li @if (string.Compare(controllerAction, "Index", true) == 0 &&
                string.Compare(controllerName, "BolaoRegras", true) == 0 && 
                string.Compare(controllerArea, "Regras", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Regras/BolaoRegras/Index">Regras</a>
        </li>
    </ul>
</li>
<li @if (string.Compare(controllerArea, "Resultados", true) == 0 || string.Compare(controllerArea, "Admin", true) == 0)
    {  @Html.Raw("class=\"active\"")  }>    
    <a href="/GrupoPonto/Grupos"><i class="fa fa-users"></i> <span class="nav-label">Admin</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li @if (string.Compare(controllerAction, "Index", true) == 0 &&
                string.Compare(controllerName, "ApostasExtrasResultados", true) == 0 &&
                string.Compare(controllerArea, "Resultados", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Resultados/ApostasExtrasResultado/Index">Apostas Extras</a>
        </li>
        @*<li @if (string.Compare(controllerAction, "Index", true) == 0 && 
                string.Compare(controllerName, "BolaoClassificacao", true) == 0 && 
                string.Compare(controllerArea, "Boloes", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/GrupoPonto/Grupos">Gerenciar membros</a>
        </li>*@
        <li @if (string.Compare(controllerAction, "Index", true) == 0 &&
                string.Compare(controllerName, "Gerenciamento", true) == 0 &&
                string.Compare(controllerArea, "Pagamentos", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Pagamentos/Gerenciamento/Index">Pagamentos</a>
        </li>
        <li @if (string.Compare(controllerAction, "Index", true) == 0 &&
                string.Compare(controllerName, "BolaoCriterioPontos", true) == 0 && 
                string.Compare(controllerArea, "Pontuacao", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Pontuacao/BolaoCriteriosPontos">Critérios pontos</a>
        </li>

        @*<li @if (string.Compare(controllerAction, "Index", true) == 0 && 
                string.Compare(controllerName, "BolaoClassificacao", true) == 0 && 
                string.Compare(controllerArea, "Boloes", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/GrupoPonto/Grupos">Editar Bolão</a>
        </li>*@

        <li @if (string.Compare(controllerAction, "Index", true) == 0 && 
                string.Compare(controllerName, "BolaoClassificacao", true) == 0 && 
                string.Compare(controllerArea, "Boloes", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Admin/BolaoIniciarParar/Index">Iniciar / Parar Bolão</a>
        </li>

        @*<li @if (string.Compare(controllerAction, "Index", true) == 0 && 
                string.Compare(controllerName, "BolaoClassificacao", true) == 0 && 
                string.Compare(controllerArea, "Boloes", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/GrupoPonto/Grupos">Carregar Excel</a>
        </li>*@
    </ul>
</li>
<li @if (string.Compare(controllerArea, "Campeonatos", true) == 0 ) {  @Html.Raw("class=\"active\"")  }>    
    <a href="/GrupoPonto/Grupos"><i class="fa fa-soccer-ball-o"></i> <span class="nav-label">Campeonato</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li @if (string.Compare(controllerAction, "Index", true) == 0 &&
                string.Compare(controllerName, "Classificacao", true) == 0 &&
                string.Compare(controllerArea, "Campeonatos", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Campeonatos/Classificacao/Index">Classificação</a>
        </li>
        <li @if (string.Compare(controllerAction, "Index", true) == 0 && 
                string.Compare(controllerName, "BolaoClassificacao", true) == 0 &&
                string.Compare(controllerArea, "Campeonatos", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Campeonatos/Jogos/Index">Jogos</a>
        </li>
        <li @if (string.Compare(controllerAction, "Index", true) == 0 &&
                string.Compare(controllerName, "Goleadas", true) == 0 &&
                string.Compare(controllerArea, "Campeonatos", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Campeonatos/Goleadas/Index">Goleadas</a>
        </li>
        <li @if (string.Compare(controllerAction, "Index", true) == 0 &&
                string.Compare(controllerName, "RecordsGols", true) == 0 &&
                string.Compare(controllerArea, "Campeonatos", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Campeonatos/RecordsGols/Index">Placares Records</a>
        </li>

        <li @if (string.Compare(controllerAction, "Index", true) == 0 &&
                string.Compare(controllerName, "Estatisticas", true) == 0 &&
                string.Compare(controllerArea, "Campeonatos", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Campeonatos/Estatisticas/Index">Estatísticas</a>
        </li>

        <li @if (string.Compare(controllerAction, "Index", true) == 0 &&
                string.Compare(controllerName, "GraficoRodadas", true) == 0 &&
                string.Compare(controllerArea, "Campeonatos", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Campeonatos/GraficoRodadas/Index">Gráfico Rodadas</a>
        </li>

        <li @if (string.Compare(controllerAction, "Index", true) == 0 &&
                string.Compare(controllerName, "Historico", true) == 0 &&
                string.Compare(controllerArea, "Campeonatos", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Campeonatos/Historico/Index">Histórico</a>
        </li>
    </ul>
</li>