@using Res = BolaoNet.MVC.Resources.Views.Shared.Fragments.Profile
@{
    var homeController = ViewContext.Controller as BolaoNet.MVC.Controllers.AuthenticationController;
}
<li class="nav-header">
    <div class="dropdown profile-element">
        <span>
            @*<img alt="image" class="img-circle" src="~/Content/img/profile_small.jpg" />*@
            <img alt="image" class="img-circle img-profile" src="~/Content/img/database/profiles/@(homeController.UserLogged.UserName).gif" />
        </span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
                <span class="block m-t-xs">
                    @*<strong class="font-bold">@homeController.LoginCorrente</strong>*@
                    <strong class="font-bold">@homeController.UserLogged.UserName</strong>
                </span>
                <span class="text-muted text-xs block">@Res.MyProfile<b class="caret"></b></span>
            </span>
        </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="/Users/AccountHome/Profile">Meu Perfil</a></li>
            <li><a href="/Users/AccountHomeProfileImage/Index">Alterar Foto</a></li>
            @*<li><a href="#">Contatos</a></li>*@
            <li><a href="/Mensagens/Gerenciamento/Index">Caixa de Entrada</a></li>
            @*<li><a href="/Users/AccountHome/ChangePassword">Alterar Senha</a></li>*@
            <li class="divider"></li>
            <li><a href="/Users/AccountHome/Logoff">@Res.Exit</a></li>
        </ul>
    </div>
    <div class="logo-element">
        @Res.LogoElement
    </div>
</li>