@model BolaoNet.MVC.ViewModels.Account.ForgotPasswordViewModel


<div class="gray-bg login">
    <div id="wrapper">
        <div class="middle-box text-center loginscreen animated fadeInDown">
            <div>
                <div>
                    <h1 class="logo-name"><img src="~/Content/img/logo.png" alt="BolaoNet"></h1>
                </div>

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()
                    
                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                    <h2 class="text-center">Esqueceu a senha?</h2>
                    <p>Você pode reinicializar a senha aqui.</p>
                    <div class="panel-body">

                        <form class="form">
                            <fieldset>

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user color-blue"></i></span>
                                        @Html.TextBoxFor(a => a.UserName, new { @class = "form-control", @placeholder = "Usuário" })
                                        @Html.ValidationMessageFor(m => m.UserName)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        @Html.TextBoxFor(a => a.Email, new { @class = "form-control", @placeholder = "Email" })
                                        @Html.ValidationMessageFor(m => m.Email)
                                    </div>
                                </div>

                                <div class="login-erro">
                                    @Html.ValidationSummary(true)
                                </div>

                                <div class="form-group">
                                    <input onclick="javascript:showWait();" class="btn btn-lg btn-primary btn-block" value="Envie minha senha" type="submit">
                                </div>
                            </fieldset>
                        </form>

                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
