@using Res = BolaoNet.MVC.Resources.Views.Shared.Fragments.Menu
@{
    BolaoNet.MVC.Controllers.AuthorizationController homeController =
        ViewContext.Controller as BolaoNet.MVC.Controllers.AuthorizationController;
    string controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    string controllerAction = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
    string controllerArea = null;
    if (HttpContext.Current.Request.RequestContext.RouteData.DataTokens["area"] != null)
    {
        controllerArea = HttpContext.Current.Request.RequestContext.RouteData.DataTokens["area"].ToString();
    }


    bool roleAdmin = homeController.IsUserInRole(BolaoNet.MVC.Security.PermissionLevel.Administrador);
    bool rolePagamento = homeController.IsUserInRole(BolaoNet.MVC.Security.PermissionLevel.Administrador, BolaoNet.MVC.Security.PermissionLevel.GerenciadorPagamentos);
    bool roleResultados = homeController.IsUserInRole(BolaoNet.MVC.Security.PermissionLevel.Administrador, BolaoNet.MVC.Security.PermissionLevel.GerenciadorResultados);
    bool roleBolao = homeController.IsUserInRole(BolaoNet.MVC.Security.PermissionLevel.Administrador, BolaoNet.MVC.Security.PermissionLevel.GerenciadorBolao);
    bool rolePontuacao = homeController.IsUserInRole(BolaoNet.MVC.Security.PermissionLevel.Administrador, BolaoNet.MVC.Security.PermissionLevel.GerenciadorPontuacao);
}

@if (rolePagamento || roleResultados || roleBolao || rolePontuacao || roleAdmin)
{ 
<li @if (string.Compare(controllerArea, "Resultados", true) == 0 || string.Compare(controllerArea, "Pagamentos", true) == 0 || 
        string.Compare(controllerArea, "Pontuacao", true) == 0 || string.Compare(controllerArea, "Admin", true) == 0)
    {  @Html.Raw("class=\"active\"")  }>    
    <a href="/GrupoPonto/Grupos"><i class="fa fa-users"></i><span class="nav-label">Admin</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">

        @if (roleResultados)
        { 
            <li @if (string.Compare(controllerName, "ApostasExtrasResultado", true) == 0 &&
                    string.Compare(controllerArea, "Resultados", true) == 0)
                { @Html.Raw("class=\"active\"")  }>
                <a href="/Resultados/ApostasExtrasResultado/Index" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-trophy"></i>Apostas Extras</span><span class="visible-xs-inline">Extras</span></a>
            </li>
        }
        @*<li @if (string.Compare(controllerAction, "Index", true) == 0 && 
                string.Compare(controllerName, "BolaoClassificacao", true) == 0 && 
                string.Compare(controllerArea, "Boloes", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/GrupoPonto/Grupos">Gerenciar membros</a>
        </li>*@

        @if (rolePagamento)
        { 
            <li @if (string.Compare(controllerName, "Gerenciamento", true) == 0 &&
                    string.Compare(controllerArea, "Pagamentos", true) == 0)
                { @Html.Raw("class=\"active\"")  }>
                <a href="/Pagamentos/Gerenciamento/Index" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-money"></i>Pagamentos</span><span class="visible-xs-inline">Pagamentos</span></a>
            </li>
        }
        @if(rolePontuacao)
        { 
            <li @if (string.Compare(controllerName, "BolaoCriteriosPontos", true) == 0 && 
                    string.Compare(controllerArea, "Pontuacao", true) == 0)
                { @Html.Raw("class=\"active\"")  }>
                <a href="/Pontuacao/BolaoCriteriosPontos" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-connectdevelop"></i>Critérios pontos</span><span class="visible-xs-inline">Critérios</span></a>
            </li>
        }        
        @*<li @if (string.Compare(controllerAction, "Index", true) == 0 && 
                string.Compare(controllerName, "BolaoClassificacao", true) == 0 && 
                string.Compare(controllerArea, "Boloes", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/GrupoPonto/Grupos">Editar Bolão</a>
        </li>*@

        @if(roleBolao)
        { 
            <li @if (string.Compare(controllerName, "BolaoIniciarParar", true) == 0 && 
                    string.Compare(controllerArea, "Admin", true) == 0)
                { @Html.Raw("class=\"active\"")  }>
                <a href="/Admin/BolaoIniciarParar/Index" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-table"></i>Painel</span><span class="visible-xs-inline">Painel</span></a>
            </li>
        }
        
        @if (roleAdmin)
        {
            <li @if (string.Compare(controllerName, "LogViewer", true) == 0 && 
                    string.Compare(controllerArea, "Admin", true) == 0)
                { @Html.Raw("class=\"active\"")   }>
                <a href="/Admin/LogViewer/Index" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-keyboard-o"></i>Log Viewer</span><span class="visible-xs-inline">LogViewer</span></a>
            </li>
        }
        
        @if (roleAdmin)
        {
            <li @if (string.Compare(controllerName, "Configuration", true) == 0 && 
                    string.Compare(controllerArea, "Admin", true) == 0)
                { @Html.Raw("class=\"active\"")   }>
                <a href="/Admin/Configuration/Index" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-navicon"></i>Config</span><span class="visible-xs-inline">Config</span></a>
            </li>
        }
    </ul>
</li>
}