@using Res = BolaoNet.MVC.Resources.Views.Shared.Fragments.Menu
@{
    BolaoNet.MVC.Controllers.AuthorizationController homeController =
        ViewContext.Controller as BolaoNet.MVC.Controllers.AuthorizationController;
    string controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    string controllerAction = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
    string controllerArea = null;
    if (HttpContext.Current.Request.RequestContext.RouteData.DataTokens["area"] != null)
    {
        controllerArea = HttpContext.Current.Request.RequestContext.RouteData.DataTokens["area"].ToString();
    }

    bool roleApostas = homeController.IsUserInRole(BolaoNet.MVC.Security.PermissionLevel.Administrador, BolaoNet.MVC.Security.PermissionLevel.Apostador);
    bool roleBolao = homeController.IsUserInRole(BolaoNet.MVC.Security.PermissionLevel.Administrador, BolaoNet.MVC.Security.PermissionLevel.Apostador, BolaoNet.MVC.Security.PermissionLevel.VisitanteBolao, BolaoNet.MVC.Security.PermissionLevel.GerenciadorBolao);

}


@if (string.IsNullOrEmpty (homeController.SelectedNomeBolao) && (roleApostas || roleBolao))
{
    <li>
        <a href="/Users/UserBoloes"><i class="fa fa-edit"></i> <span class="nav-label">Bolões</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li>
                <a href="/Users/UserBoloes/Index">Selecionar Bolão</a>
            </li>
        </ul>
    </li>
}
else 
{
    if (!homeController.IsBolaoIniciado)
    { 
        if(roleApostas)
        { 
            <li @if((string.Compare(controllerArea, "Apostas", true) == 0) ||
                    (string.Compare(controllerArea, "Users", true) == 0 && string.Compare(controllerName, "UserBoloes", true) == 0)) 
                {  @Html.Raw("class=\"active\"") } >
                <a href="/GrupoPonto/Grupos"><i class="fa fa-edit"></i> <span class="nav-label">Apostas</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">

                    <li @if (string.Compare(controllerAction, "Jogos" , true) == 0 && 
                            string.Compare(controllerName, "ApostasJogos", true) == 0) { @Html.Raw("class=\"active\"") }>
                        <a href="/Apostas/ApostasJogos/Jogos" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-comments"></i>Inclusão de Apostas</span><span class="visible-xs-inline">Inclusão</span></a>
                    </li>
                    <li @if (string.Compare(controllerName, "ApostasAutomaticas", true) == 0) { @Html.Raw("class=\"active\"")  }>
                        <a href="/Apostas/ApostasAutomaticas/Index" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-bars"></i>Apostas Automáticas</span><span class="visible-xs-inline">Automático</span></a>
                    </li>
                    <li @if (string.Compare(controllerName, "ApostasExtras", true) == 0) { @Html.Raw("class=\"active\"")   }>
                        <a href="/Apostas/ApostasExtras/Index" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-trophy"></i>Apostas Extras</span><span class="visible-xs-inline">Extras</span></a>
                    </li>

                    <li @if (string.Compare(controllerName, "BolaoRegras", true) == 0 && string.Compare(controllerArea, "Regras", true) == 0) { @Html.Raw("class=\"active\"")   }>
                        <a href="/Regras/BolaoRegras/Index" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-envelope-o"></i>Regras</span><span class="visible-xs-inline">Regras</span></a>
                    </li>
                    
                    <li @if (string.Compare(controllerName, "BolaoHistorico", true) == 0 && 
                            string.Compare(controllerArea, "Apostas", true) == 0)  { @Html.Raw("class=\"active\"")  }>
                        <a href="/Apostas/BolaoHistorico/Index" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-trophy"></i>Histórico Ganhadores</span><span class="visible-xs-inline">Ganhadores</span></a>
                    </li>
                </ul>
            </li>
        }
    }
    else 
    { 
        if (roleBolao)
        { 
            <li @if (string.Compare(controllerArea, "Boloes", true) == 0 || string.Compare(controllerArea, "Regras", true) == 0)
                {  @Html.Raw("class=\"active\"")  }>
                <a href="/GrupoPonto/Grupos"><i class="fa fa-life-ring"></i> <span class="nav-label">Bolão</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li @if (string.Compare(controllerName, "BolaoClassificacao", true) == 0 && 
                            string.Compare(controllerArea, "Boloes", true) == 0)
                        { @Html.Raw("class=\"active\"")  }>
                        <a href="/Boloes/BolaoClassificacao/Index" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-line-chart"></i>Classificação</span><span class="visible-xs-inline">Classificação</span></a>
                    </li>
                    <li @if ((string.Compare(controllerName, "ApostasUsuarios", true) == 0 || string.Compare(controllerName, "ApostasJogo", true) == 0) && 
                            string.Compare(controllerArea, "Boloes", true) == 0)
                        { @Html.Raw("class=\"active\"")  }>
                        <a href="/Boloes/ApostasUsuarios/Index" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-comments"></i>Apostas dos Usuários</span><span class="visible-xs-inline">Apostas</span></a>
                    </li>                    
                    <li @if (string.Compare(controllerName, "BolaoComparacaoApostas", true) == 0 && 
                            string.Compare(controllerArea, "Boloes", true) == 0)
                        { @Html.Raw("class=\"active\"")  }>
                        <a href="/Boloes/BolaoComparacaoApostas/Index" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-user-plus"></i>Comparação</span><span class="visible-xs-inline">Comparação</span></a>
                    </li>
                    <li @if (string.Compare(controllerName, "ApostasExtras", true) == 0 && 
                            string.Compare(controllerArea, "Boloes", true) == 0)
                        { @Html.Raw("class=\"active\"")  }>
                        <a href="/Boloes/ApostasExtras/Index" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-trophy"></i>Apostas Extras</span><span class="visible-xs-inline">Extras</span></a>
                    </li>                    
                    <li @if (string.Compare(controllerName, "ApostasExtrasPossibilidades", true) == 0 && 
                            string.Compare(controllerArea, "Boloes", true) == 0)
                        { @Html.Raw("class=\"active\"")  }>
                        <a href="/Boloes/ApostasExtrasPossibilidades/Index" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-trophy"></i>Extras Possibilidades</span><span class="visible-xs-inline">Possibilidades</span></a>
                    </li>
                    <li @if (string.Compare(controllerName, "ClassificacaoApostas", true) == 0 && 
                            string.Compare(controllerArea, "Boloes", true) == 0)
                        { @Html.Raw("class=\"active\"")  }>
                        <a href="/Boloes/ClassificacaoApostas/Index" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-pie-chart"></i>Classificação Apostas</span><span class="visible-xs-inline">Cl. Apostas</span></a>
                    </li>
                    <li @if (string.Compare(controllerName, "ResultadosDificeis", true) == 0 && 
                            string.Compare(controllerArea, "Boloes", true) == 0)
                        { @Html.Raw("class=\"active\"")  }>
                        <a href="/Boloes/ResultadosDificeis/Index" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-thumbs-up"></i>Resultados difíceis</span><span class="visible-xs-inline">Difíceis</span></a>
                    </li>
                    <li @if (string.Compare(controllerName, "SemAcertos", true) == 0 && 
                            string.Compare(controllerArea, "Boloes", true) == 0)
                        { @Html.Raw("class=\"active\"")  }>
                        <a href="/Boloes/SemAcertos/Index" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-minus-square"></i>Sem acertos</span><span class="visible-xs-inline">Sem acertos</span></a>
                    </li>
                    @*<li @if (string.Compare(controllerName, "HistoricoPontos", true) == 0 && 
                            string.Compare(controllerArea, "Boloes", true) == 0)
                        { @Html.Raw("class=\"active\"")  }>
                        <a href="/Boloes/HistoricoPontos/Index" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-spinner"></i>Histórico de pontos</span><span class="visible-xs-inline">Hist. Pontos</span></a>
                    </li>*@
                    <li @if (string.Compare(controllerName, "BolaoRegras", true) == 0 && 
                            string.Compare(controllerArea, "Regras", true) == 0)
                        { @Html.Raw("class=\"active\"")  }>
                        <a href="/Regras/BolaoRegras/Index" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-envelope-o"></i>Regras</span><span class="visible-xs-inline">Regras</span></a>
                    </li>
                    <li @if (string.Compare(controllerName, "BolaoPremiacao", true) == 0 && 
                            string.Compare(controllerArea, "Boloes", true) == 0)
                        { @Html.Raw("class=\"active\"")  }>
                        <a href="/Boloes/BolaoPremiacao/Index" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-money"></i>Premiação</span><span class="visible-xs-inline">Premiação</span></a>
                    </li>
                    <li @if (string.Compare(controllerName, "IndiceEstatistico", true) == 0 && 
                            string.Compare(controllerArea, "Boloes", true) == 0)
                        { @Html.Raw("class=\"active\"")  }>
                        <a href="/Boloes/IndiceEstatistico/Index" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-area-chart"></i>Colocações</span><span class="visible-xs-inline">Colocações</span></a>
                    </li>
                    <li @if (string.Compare(controllerName, "IndicePontos", true) == 0 && 
                            string.Compare(controllerArea, "Boloes", true) == 0)
                        { @Html.Raw("class=\"active\"")  }>
                        <a href="/Boloes/IndicePontos/Index" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-area-chart"></i>Pontuação</span><span class="visible-xs-inline">Pontuação</span></a>
                    </li>
                    <li @if (string.Compare(controllerName, "BolaoHistorico", true) == 0 && 
                            string.Compare(controllerArea, "Boloes", true) == 0)
                        { @Html.Raw("class=\"active\"")  }>
                        <a href="/Boloes/BolaoHistorico/Index" onclick="javascript:showWait();"><span class="nav-label"><i class="fa fa-trophy"></i>Histórico Ganhadores</span><span class="visible-xs-inline">Ganhadores</span></a>
                    </li>

                </ul>
            </li>
        }
    }
}