@using Res = BolaoNet.MVC.Resources.Views.Shared.Fragments.Menu
@{
    BolaoNet.MVC.Controllers.AuthorizationController homeController =
        ViewContext.Controller as BolaoNet.MVC.Controllers.AuthorizationController;
    string controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    string controllerAction = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
    string controllerArea = null;
    if (HttpContext.Current.Request.RequestContext.RouteData.DataTokens["area"] != null)
    {
        controllerArea = HttpContext.Current.Request.RequestContext.RouteData.DataTokens["area"].ToString();
    }
}


<li @if (string.Compare(controllerArea, "Campeonatos", true) == 0 ) {  @Html.Raw("class=\"active\"")  }>    
    <a href="/GrupoPonto/Grupos"><i class="fa fa-soccer-ball-o"></i> <span class="nav-label">Campeonato</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li @if (string.Compare(controllerName, "Classificacao", true) == 0 &&
                string.Compare(controllerArea, "Campeonatos", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Campeonatos/Classificacao/Index" onclick="javascript:showWait();"><i class="fa fa-bar-chart"></i><span class="nav-label">Classificação</span></a>
        </li>
        <li @if (string.Compare(controllerName, "Jogos", true) == 0 &&
                string.Compare(controllerArea, "Campeonatos", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Campeonatos/Jogos/Index" onclick="javascript:showWait();"><i class="fa fa-play-circle"></i><span class="nav-label">Jogos</span></a>
        </li>
        <li @if (string.Compare(controllerName, "Goleadas", true) == 0 &&
                string.Compare(controllerArea, "Campeonatos", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Campeonatos/Goleadas/Index" onclick="javascript:showWait();"><i class="fa fa-hand-o-up"></i><span class="nav-label">Goleadas</span></a>
        </li>
        <li @if (string.Compare(controllerName, "RecordsGols", true) == 0 &&
                string.Compare(controllerArea, "Campeonatos", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Campeonatos/RecordsGols/Index" onclick="javascript:showWait();"><i class="fa fa-crosshairs"></i><span class="nav-label">Placares Records</span></a>
        </li>

        <li @if (string.Compare(controllerName, "Estatisticas", true) == 0 &&
                string.Compare(controllerArea, "Campeonatos", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Campeonatos/Estatisticas/Index" onclick="javascript:showWait();"><i class="fa fa-pie-chart"></i><span class="nav-label">Estatísticas</span></a>
        </li>

        @*<li @if (string.Compare(controllerAction, "Index", true) == 0 &&
                string.Compare(controllerName, "GraficoRodadas", true) == 0 &&
                string.Compare(controllerArea, "Campeonatos", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Campeonatos/GraficoRodadas/Index">Gráfico Rodadas</a>
        </li>*@

        <li @if (string.Compare(controllerName, "Historico", true) == 0 &&
                string.Compare(controllerArea, "Campeonatos", true) == 0)
            { @Html.Raw("class=\"active\"")  }>
            <a href="/Campeonatos/Historico/Index" onclick="javascript:showWait();"><i class="fa fa-star"></i><span class="nav-label">Histórico</span></a>
        </li>
    </ul>
</li>