@model BolaoNet.MVC.ViewModels.Bolao.CampeonatoClassificacaoApostaUsuarioViewModel

@{
    ViewBag.Title = "Classificação dos grupos da aposta do Usuário";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">


            <div class="col-sm-12">
                <div class="ibox-title">
                    <h5>Apostas do usuário @Model.UserName</h5>
                </div>
                <div class="ibox float-e-margins">
                    <div class="ibox-content" style="display: block;">
                        <div class="col-xs-3 col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    @Html.DropDownListFor(x => x.UserName, (SelectList)ViewBag.Membros, new { @class = "form-control input-sm" })
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                </div>
                            </div>
                        </div>

                        @*<div class="col-xs-3">
                            <div class="form-group">
                                <div class="input-group">
                                </div>
                            </div>
                        </div>*@


                        <div class="col-xs-offset-2 col-sm-2">
                            <div class="form-group">
                                <input type="submit" value="Filtrar" class="btn btn-default" />
                            </div>
                        </div>

                    </div>

                </div>

            </div>


            @for (int c = 0; c < Model.Grupos.Count; c++)
            {
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Grupo @Model.Grupos[c].NomeGrupo</h5>
                        </div>
                        <div class="ibox-content" style="display: block;">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="text-center">
                                        <td>Pos</td>
                                        <td></td>
                                        <td>Time</td>
                                        <td>J</td>
                                        <td>PT</td>
                                        <td>V</td>
                                        <td>E</td>
                                        <td>D</td>
                                        <td>GP</td>
                                        <td>GC</td>
                                        <td>S</td>
                                        <td>%</td>
                                    </tr>
                                </thead>
                                <tbody>

                                    @for (int l = 0; l < Model.Grupos[c].Posicoes.Count; l++)
                                    {
                                        <tr class="text-center">
                                            <td
                                               @if(Model.Grupos[c].Posicoes[l].BackColor != null)
                                               {
                                                   @Html.Raw("bgcolor=\"" + Model.Grupos[c].Posicoes[l].BackColor.Value.Name + "\" ");
                                               } 
                                               @if(Model.Grupos[c].Posicoes[l].ForeColor != null)
                                               {
                                                   @Html.Raw("color=\"" + Model.Grupos[c].Posicoes[l].ForeColor.Value.Name + "\"");
                                               } 
                                                >
                                            @Model.Grupos[c].Posicoes[l].Posicao</td>
                                            <td><img src="@Model.Grupos[c].Posicoes[l].ImageTime" /></td>
                                            <td class="text-left">@Model.Grupos[c].Posicoes[l].NomeTime</td>
                                            <td>@Model.Grupos[c].Posicoes[l].Jogos</td>
                                            <td>@Model.Grupos[c].Posicoes[l].TotalPontos</td>
                                            <td>@Model.Grupos[c].Posicoes[l].TotalVitorias</td>
                                            <td>@Model.Grupos[c].Posicoes[l].TotalEmpates</td>
                                            <td>@Model.Grupos[c].Posicoes[l].TotalDerrotas</td>
                                            <td>@Model.Grupos[c].Posicoes[l].TotalGolsPro</td>
                                            <td>@Model.Grupos[c].Posicoes[l].TotalGolsContra</td>
                                            <td>@Model.Grupos[c].Posicoes[l].Saldo</td>
                                            <td>@Model.Grupos[c].Posicoes[l].Aproveitamento.ToString("0.00")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

                if (c > 0 && c % 2 == 0)
                {
                    @*</div>
                    <div class="row">*@
                }
            }


            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Legenda</h5>
                    </div>
                    <div class="ibox-content" style="display: block;">
                        J - Jogos, P - Pontos, V - Vitórias, E - Empates, D - Derrotas, GP - Gols Pró, GC - Gols Contra, S - Saldo, % - Aproveitamento
                    </div>
                </div>
            </div>
        </div>
    </div>
}