@model IList<BolaoNet.MVC.ViewModels.Regras.BolaoRegrasViewModel>
@{
    ViewBag.Title = "Regras do Bolão";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>Regras</h3>
                    </div>
                    <div class="ibox-content" style="display: block;">

                        <div class="row">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        @*<td>ID</td>*@
                                        <td>Descrição</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int c = 0; c < Model.Count; c++)
                                    {
                                        @Html.HiddenFor(x => x[c].RegraID)
                                        <tr>
                                            @*<td>@Model[c].RegraID</td>*@                                            
                                            <td>@Model[c].Descricao</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                        <div class="login-erro">
                            @Html.ValidationSummary(true)
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
}