@model BolaoNet.MVC.ViewModels.Campeonatos.CampeonatoJogosListViewModel
@{
    ViewBag.Title = "Goleadas";
}

@using (Html.BeginForm("SelectJogo", "Jogos", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()


    @Html.HiddenFor(x => x.Filtros.DataFinal)
    @Html.HiddenFor(x => x.Filtros.DataInicial)
    @Html.HiddenFor(x => x.Filtros.FilterSelected)
    @Html.HiddenFor(x => x.Filtros.NomeFase)
    @Html.HiddenFor(x => x.Filtros.NomeGrupo)
    @Html.HiddenFor(x => x.Filtros.NomeTime)
    @Html.HiddenFor(x => x.Filtros.Rodada)


    <div class="row">
        <div class="col-ld-12">

            @Html.Partial("_JogosList", Model)

        </div>
    </div>

}


@section scripts
{

}